In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("BigBasketDataset.tsv", sep="\t")

In [5]:
df.head()

   Member    Order       SKU        Created On   Description
0  M09736  6468572  34993740  22-09-2014 22:45  Other Sauces
1  M09736  6468572  15669800  22-09-2014 22:45       Cashews
2  M09736  6468572  34989501  22-09-2014 22:45    Other Dals
3  M09736  6468572   7572303  22-09-2014 22:45       Namkeen
4  M09736  6468572  15669856  22-09-2014 22:45         Sugar

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62141 entries, 0 to 62140
Data columns (total 5 columns):
Member         62141 non-null object
Order          62141 non-null int64
SKU            62141 non-null int64
Created On     62141 non-null object
Description    62141 non-null object
dtypes: int64(2), object(3)
memory usage: 2.4+ MB

# Changes Lennart 16/5/2020

In [9]:
print("Number of orders: ", df.Order.nunique())
print("Number of products bought: ",df.SKU.nunique())
print("Number of customers:", df.Member.nunique() )

Number of orders:  8387
Number of products bought:  1732
Number of customers: 106

In [7]:
df_rfq=df.copy()

### Creating RFQ - Dataframe

In [15]:
#Recency: Baseline data (last date in the dataset)
df["Created On"].max()

'31-12-2013 20:33'